name: Deploy to GitHub Pages

on:
  push:
    branches: [main]
  workflow_dispatch:


permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Clean install dependencies (to fix Rollup issue)
        run: |
          rm -rf node_modules package-lock.json || true
          npm install

      - name: List project contents
        run: ls -R

      - name: Build and upload your site
        uses: withastro/action@v3
        with:
          path: .
          node-version: 20 
          package-manager: npm 

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
